src/test/resources/templates/grant.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Grant" type="GrantType"/>
  <xs:complexType name="GranteeType">
    <xs:sequence>
      <xs:element type="xs:string" name="ID"/>
      <xs:element type="xs:string" name="DisplayName"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Grant">
    <xs:sequence>
      <xs:element type="GranteeType" name="Grantee"/>
      <xs:element type="xs:string" name="Permission"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>